.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/*.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/*
*-checkpoint.md
*-checkpoint.csv
*-checkpoint.ipynb
output/talks_all_tf.csv
output/talks_all_tf_matrix.csv
